<div class="col-lg-3 mb-3">
	<div class="card h-100">
	  <div class="card-body text-center">
		<div class="card-title">{{ content.field_image_solve }}</div>
		<p class="card-text">{{ content.field_header }}</p>
	  </div>
	</div>
</div>