<div class="actionCervices">
	<div class="actionCervicesInto d-flex mx-auto flex-column flex-md-row py-4 text-white font-weight-bold align-items-center">
		<div class="text mr-4 p20 text-center text-md-left mb-3 mb-md-0">{{ content.field_text_action }}</div>
		<div class="button"><a href="tel:{{ phone }}" type="button" class="btn btn-warning font-weight-bold text-white">{{ content.field_text_button }}</a></div>
	</div> 
</div>      