<div class="col-12 col-lg-8">
	<div class="row">
		<div class="col-4 timeWork d-none d-md-flex flex-column justify-content-center"><span class="text-black-50">Время работы:</span><p class="mb-0 font-weight-bold text-muted">Пн.-Пт.: 9:00 - 20:00 МСК</p></div>	
		<div class="col-6 col-md-4 adPhone text-md-right d-flex flex-column justify-content-center"><span class="text-black-50">Консультация инженера:</span><p class="mb-0"><a class="font-weight-bold text-dark" href="tel:{{ phone2 }}">{{ phone2 }}</a></p></div>	
		<div class="col-6 col-md-4 mainPhone d-flex justify-content-end align-items-center"><a class="font-weight-bold text-dark" href="tel:{{ phone }}">{{ phone }}</a></div>	
	</div>
</div>