<div class="container">
	<div class="mx-auto col-12 col-lg-11 mb-5 text-center p20 descriptioin">
		{{ content }}
		<div class="col-12 mt-5">
			<a href="tel:+7 (962) 459-06-60" type="button" class="btn btn-warning font-weight-bold text-white d-flex mx-auto"><span class="material-icons mr-2">phone_enabled</span> Консультация инженера</a> 	
		</div>			
	</div>	
</div>	