<div class="container">
	<div class="mt-5 mx-auto col-12 col-lg-8 text-center">
		{{ content }}
		<div class="dotted d-flex justify-content-center my-4">
			<div class="dot rounded mr-3"></div>
			<div class="dot rounded mr-3"></div>
			<div class="dot rounded"></div>
		</div>
	</div>
</div>