{% for photo in photos %}
	<div class="col-12 col-md-6 col-lg-4 py-2">
		<a href="{{ photo.image }}" data-fancybox="gallery"><img src="{{ photo.image }}" class="card-img" alt=""></a>		  
	</div>	
{% endfor %}
