<div class="col-4 d-none d-lg-block">  
  {% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" rel="home">
      <img src="{{ site_logo }}" alt="{{ 'Главная'|t }}" />
    </a>
  {% endif %}
  {% endblock %}
</div>