<div class="col-md-6 col-lg-3">
	<div class="card">
		  <div class="card-body">
		  {{ fields.field_image.content }}
		<p class="card-text">{{ fields.field_header.content }}</p>
	  </div>
	</div> 
</div> 