<div class="col-12 col-md-6 col-lg-4 mb-4">
	<div class="card h-100 shadow">
	  {{ fields.field_images_1.content }}
	  <div class="card-body rounded-bottom">
		<h5 class="card-title text-white">{{ fields.title.content }}</h5>
		<a href="{{ fields.view_node.content }}" class="stretched-link"></a>
	  </div>
	</div>
</div>