<div class="col-md-6 col-lg-4 mb-4">
	<div class="card listArticles h-100 bg-success text-white">
	  <div class="card-body">
		<h5 class="card-title">{{ fields.name.content }}</h5>
		<a href="{{ fields.view_taxonomy_term.content }}" class="stretched-link"></a>
	  </div>
	</div>
</div>