<ul>	
	<li class="text-right d-flex justify-content-end mr-3 my-2">
	<!--a href="#" class="d-block close-double-mobile">Назад</a-->
	<a type="button" class="btn btn-sm btn-warning close-double-mobile d-flex"><span>Назад</span> <span class="material-icons">keyboard_arrow_right</span></a>
	</li>
	{% for row in rows %}
		{{ row.content }}
	{% endfor %}   
</ul>	 